* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    overflow: hidden;
    background: rgb(24, 24, 24);

    .topo {
        width: 100%;
        height: 4rem;
        display: flex;
        align-items: center;
        background: red;
        border-radius: 10px;

        .title {
            margin: 0 auto;
            color: rgb(255, 255, 255);
            text-transform: uppercase;
        }

        .btn-lateral {
            position: fixed;

            #btn-lateral {
                padding: 0.5rem;
                background: transparent;
                border: none;
                cursor: pointer;

                img {
                    width: 25px;
                }
            }
        }
    }




    .fundo {
        position: fixed;
        z-index: 2;
        inset: 0;
        opacity: 0;
        display: none;
        transition: 0.7s ease;
        background: rgba(41, 41, 41, 0.626);
    }

    .active-fundo {
        opacity: 1;
        display: block;
    }




    .upload-lateral {
        border: solid 2px;
        background: rgb(38, 38, 38);
        color: rgb(255, 255, 255);
        border-radius: 10px;
        padding: 0.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        position: relative;
        z-index: 3;
        margin-top: 1.5rem;
        transform: translateY(-1000px);
        transition: 0.5s ease;


        .box-import {
            //border: solid 1px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 3rem;

            .box-input1 {
                //border: solid 1px red;
                position: relative;
                display: flex;
                align-items: center;

                input[type="file"]::file-selector-button {
                    background: rgb(239, 191, 0);
                    color: rgb(255, 255, 255);
                    padding: 0.8rem 2rem;
                    border-radius: 10px;
                    border: none;
                    font-weight: bold;
                    cursor: pointer;

                    &:hover {
                        background: rgb(255, 206, 9);
                    }
                }

                label {
                    position: absolute;
                    top: -1.5rem;
                }

                img {
                    position: absolute;
                    left: 0.3rem;
                }
            }

            .box-input2 {
                //border: solid 1px red;
                position: relative;
                display: flex;
                align-items: center;

                input[type="file"]::file-selector-button {
                    background: rgb(27, 200, 0);
                    color: rgb(255, 255, 255);
                    padding: 0.8rem 2rem;
                    border-radius: 10px;
                    border: none;
                    font-weight: bold;
                    cursor: pointer;

                    &:hover {
                        background: rgb(29, 220, 0);
                    }
                }

                label {
                    position: absolute;
                    top: -1.5rem;
                }

                img {
                    position: absolute;
                    left: 0.3rem;
                }
            }
        }

        .buttons {
            //border: solid 1px;
            display: flex;
            gap: 3rem;

            button {
                padding: 0.9rem 2rem;
                border-radius: 10px;
                border: none;
                font-weight: bold;
                cursor: pointer;
                color: rgb(255, 255, 255);

                &:nth-child(1) {
                    background: rgb(27, 200, 0);

                    &:hover {
                        background: rgb(31, 231, 0);
                    }
                }

                &:nth-child(2) {
                    background: rgb(200, 0, 0);

                    &:hover {
                        background: rgb(255, 0, 0);
                    }
                }
            }
        }
    }
    .active-lateral {
        transform: translateX(0);
    }




    .main-calculadora {
        position: fixed;
        z-index: 1;
        top: 7rem;
        color: rgb(255, 255, 255);
        //border: solid 2px red;
        display: flex;
        flex-direction: column;
        gap: 1rem;



        .relative {
            //border: solid 1px red;
            width: 90vw;

            .box-input {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                //border: solid red;
                width: 100%;

                input {
                    width: 100%;
                    padding: 0.5rem 2rem;
                    max-width: 100%;
                    border-radius: 10px;
                    border: none;
                }

                img {
                    position: absolute;
                    left: 0.3rem;
                    width: 26px;
                }
            }


            .sugestoes {
                position: absolute;
                top: 3rem;
                z-index: 2;
                width: 98%;
                height: auto;
                max-height: 450px;
                display: none;
                overflow-x: hidden;
                overflow-y: scroll;
                border-radius: 10px;
                background: rgb(0, 0, 0);

                table {
                    border: solid 1px;
                    font-size: 12px;
                    padding: 0.5rem;

                    thead {

                        tr {

                            th {
                                border: solid 1px;
                            }
                        }
                    }

                    #sugestoesBody {
                        border: solid 1px;
                        background-color: rgb(60, 60, 60);

                        tr {
                            border: solid 1px;
                        }
                    }
                }
            }
        }

        .flex {
            display: none;
        }

        .box-entrada {
            display: none;
        }

        .box-arrendondar {
            display: none;
        }

    }
}