* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    overflow: hidden;
    position: relative;
    background: rgb(188, 188, 188);

    .topo {
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        position: relative;
        border-radius: 10px;
        padding: 1rem;
        background: rgb(218, 0, 0);


        .title {
            text-transform: uppercase;
            font-size: 8px;
            color: rgb(255, 255, 255);
            text-shadow: 3px 0px 0px #000000;
        }

        .btn-lateral {
            position: fixed;
            right: 1.5rem;
            z-index: 3;

            #btn-lateral {
                padding: 0.5rem;
                border: none;
                cursor: pointer;
                background: transparent;

                img {
                    width: 24px;
                }

                &.active-lateral img {
                    animation: imgMovie 4s infinite ease-in-out;
                }
            }
        }
    }



    .fundo {
        position: fixed;
        z-index: 2;
        inset: 0;
        opacity: 0;
        display: none;
        transition: 0.7s ease;
        background: rgba(41, 41, 41, 0.626);

        &.active-fundo {
            opacity: 1;
            display: block;
        }
    }



    .fundo-2 {
        position: fixed;
        z-index: 4;
        inset: 0;
        opacity: 0;
        display: none;
        transition: 0.7s ease;
        background: rgba(41, 41, 41, 0.626);

        &.active-fundo-2 {
            opacity: 1;
            display: block;
        }
    }



    .upload-lateral {
        border: solid 2px;
        border-radius: 10px;
        padding: 0.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        position: relative;
        z-index: 3;
        margin-top: 1.5rem;
        transform: translateY(-1000px);
        transition: 0.5s ease;
        background: rgb(23, 23, 23);
        color: rgb(255, 255, 255);


        .box-import {
            //border: solid 1px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 3rem;

            .box-input1 {
                //border: solid 1px red;
                position: relative;
                display: flex;
                align-items: center;

                input[type="file"]::file-selector-button {
                    background: radial-gradient(circle, rgba(255, 110, 61, 1) 0%, rgba(255, 179, 0, 1) 100%);
                    color: rgb(255, 255, 255);
                    padding: 0.8rem 2rem;
                    border-radius: 10px;
                    border: none;
                    font-weight: bold;
                    cursor: pointer;

                    &:hover {
                        background: rgb(236, 232, 0);
                    }
                }

                label {
                    position: absolute;
                    top: -1.5rem;
                }

                img {
                    position: absolute;
                    width: 20px;
                    left: 0.3rem;
                }
            }

            .box-input2 {
                //border: solid 1px red;
                position: relative;
                display: flex;
                align-items: center;

                input[type="file"]::file-selector-button {
                    background: radial-gradient(circle, rgb(0, 147, 10) 0%, rgb(89, 255, 92) 100%);
                    color: rgb(255, 255, 255);
                    padding: 0.8rem 2rem;
                    border-radius: 10px;
                    border: none;
                    font-weight: bold;
                    cursor: pointer;

                    &:hover {
                        background: rgb(29, 220, 0);
                    }
                }

                label {
                    position: absolute;
                    top: -1.5rem;
                }

                img {
                    position: absolute;
                    width: 20px;
                    left: 0.3rem;
                }
            }
        }


        .buttons {
            //border: solid 1px;
            display: flex;
            gap: 3rem;

            button {
                padding: 0.9rem 2rem;
                border-radius: 10px;
                border: none;
                font-weight: bold;
                cursor: pointer;
                color: rgb(255, 255, 255);

                &:nth-child(1) {
                    background: radial-gradient(circle, rgb(0, 178, 12) 0%, rgb(89, 255, 92) 100%);

                    &:hover {
                        background: rgb(26, 193, 0);
                    }
                }

                &:nth-child(2) {
                    background: radial-gradient(circle, rgb(132, 0, 0) 0%, rgba(255, 0, 0, 1) 100%);

                    &:hover {
                        background: rgb(231, 0, 0);
                    }
                }
            }
        }


        &.active-lateral {
            transform: translateX(0);
        }
    }




    .main-calculadora {
        position: fixed;
        z-index: 1;
        top: 7rem;
        color: rgb(255, 255, 255);
        //border: solid 2px red;
        display: flex;
        flex-direction: column;
        gap: 1rem;




        .relative {
            //border: solid 1px red;
            width: 90vw;

            .box-input {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                //border: solid red;
                width: 100%;

                input {
                    width: 100%;
                    padding: 0.5rem 2rem;
                    max-width: 100%;
                    border-radius: 10px;
                    border: none;
                    color: #ffffff;
                    background-color: #232323;

                    &::placeholder {
                        color: #ffffff;
                    }
                }

                img {
                    position: absolute;
                    left: 0.3rem;
                    width: 26px;
                }
            }


            .sugestoes {
                position: absolute;
                top: 3rem;
                z-index: 2;
                width: 98%;
                height: auto;
                max-height: 450px;
                display: none;
                overflow-x: hidden;
                overflow-y: scroll;
                border-radius: 10px;
                background: rgb(0, 0, 0);

                table {
                    border: solid 1px;
                    font-size: 12px;
                    padding: 0.5rem;
                    cursor: pointer;

                    thead {

                        tr {

                            th {
                                border: solid 1px;
                            }
                        }
                    }

                    #sugestoesBody {
                        border: solid 1px;
                        background-color: rgb(60, 60, 60);

                        tr {
                            border: solid 1px;
                        }
                    }
                }
            }
        }


        .box-title {
            width: 100%;
            text-align: center;

            .title {
                font-size: 25px;
                font-weight: bold;
                color: #000000;
                text-shadow: 1px 0px 0px #ffffff;
            }
        }


        .box-list {
            //border: solid 1px red;
            width: 100%;
            height: 440px;
            max-height: 510px;
            position: absolute;
            top: 6rem;
            padding: 1rem;
            overflow: auto;

            #lista {
                //border: solid 1px green;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin-top: 1rem;

                .item {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    position: relative;
                    width: 100%;
                    height: 140px;
                    max-height: 150px;
                    border-radius: 10px;
                    padding: 0.5rem;
                    font-size: 15px;
                    border: solid 1px;
                    background: #222222;
                    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

                    .valor-total {
                        position: absolute;
                        top: 6rem;
                        color: rgb(0, 190, 0);
                    }

                    .garantia-item {
                        //border: solid 1px red;
                        width: 80%;
                        position: absolute;
                        top: 3.8rem;

                        .select-garantia {
                            width: 50%;
                            border-radius: 5px;
                            color: #ffffff;
                            background-color: #222222;
                        }
                    }

                    .box-quantidade {
                        //border: solid 1px red;
                        position: absolute;
                        right: 1rem;
                        top: 4.4rem;
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;
                    }

                    button {
                        right: 1rem;
                        top: 4rem;
                        padding: 0.3rem 1rem;
                        border-radius: 10px;
                        border: none;
                        font-weight: bold;
                        cursor: pointer;
                        color: white;
                    }

                    .btn-minus {
                        right: 4rem;
                        background: radial-gradient(circle, rgb(132, 0, 0) 0%, rgba(255, 0, 0, 1) 100%);
                    }

                    .btn-plus {
                        right: 1rem;
                        background: radial-gradient(circle, rgb(132, 121, 0) 0%, rgb(255, 242, 0) 100%);
                    }
                }
            }
        }
    }




    .box-configuracao {
        //border: solid 1px red;
        width: 90%;
        height: 550px;
        max-height: 600px;
        position: absolute;
        z-index: 4;
        top: 6rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        border-radius: 10px;
        padding: 1rem;
        transform: translateY(-1000px);
        transition: 0.6s ease;
        color: white;
        border: solid 1px rgb(255, 255, 255);
        background: rgb(45, 45, 45);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

        .flex {
            display: flex;
            flex-direction: column;
            gap: 3rem;

            .box {
                display: flex;
                flex-direction: column;

                label {
                    font-weight: bold;
                }

                select {
                    width: 20%;
                    padding: 0.3rem;
                    font-weight: bold;
                }
            }

            .box-btns {
                //border: solid 1px red;
                display: flex;
                justify-content: center;
                gap: 2rem;

                button {
                    padding: 0.5rem 2rem;
                    border: none;
                    font-weight: bold;
                    border-radius: 10px;
                    color: rgb(255, 255, 255);

                    &:nth-child(1) {
                        background: radial-gradient(circle, rgb(0, 178, 12) 0%, rgb(89, 255, 92) 100%);

                        &:hover {
                            background: rgb(26, 193, 0);
                        }
                    }

                    &:nth-child(2) {
                        background: radial-gradient(circle, rgb(132, 0, 0) 0%, rgba(255, 0, 0, 1) 100%);

                        &:hover {
                            background: rgb(231, 0, 0);
                        }
                    }
                }
            }
        }


        .taxa-financiamento {


            .box {
                display: flex;
                flex-direction: column;

                label {
                    font-weight: bold;
                }

                input {
                    width: 20%;
                    padding: 0.3rem;
                    font-weight: bold;
                }
            }
        }

        .box-entrada {

            .box {
                display: flex;
                flex-direction: column;

                label {
                    font-weight: bold;
                }

                input {
                    width: 30%;
                    padding: 0.3rem;
                    font-weight: bold;
                }
            }
        }

        .box-arrendondar {
            //border: solid 1px red;
            display: flex;
            ;
            align-items: center;
            gap: 1rem;

            .round-box {

                input[type='checkbox'] {
                    accent-color: rgb(255, 238, 0);
                }
            }
        }

        &.active-config-lateral {
            transform: translateX(0);
        }



        .result {
            border: solid 1px rgb(255, 255, 255);
            padding: 0.3rem;
        }

    }



    .box-btn {
        //border: solid 1px red;
        width: 90%;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 6rem;
        margin: 0 auto;

        .btn-financiamento {
            padding: 1rem 4rem;
            border-radius: 10px;
            border: none;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
            color: #ffffff;
            background: radial-gradient(circle, rgb(0, 147, 10) 0%, rgb(27, 255, 31) 100%);

            &:hover {
                background: rgb(0, 217, 0);
            }
        }

        &.active-btn-finance {
            display: none;
        }
    }



    .box-btn-prev {
        //border: solid 1px red;
        width: 90%;
        display: flex;
        justify-content: center;
        position: absolute;
        z-index: 4;
        bottom: 5rem;
        display: none;

        .btn-prev {
            padding: 1rem 4rem;
            border-radius: 10px;
            border: none;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
            color: #ffffff;
            background: radial-gradient(circle, rgb(10, 0, 147) 0%, rgb(0, 5, 148) 100%);

            &:hover {
                background: rgb(0, 4, 216);
            }
        }

        &.active-prev {
            display: block;
            display: flex;
            justify-content: center;
        }
    }
}




// ANIMAÇÃO DA IMG DO LOGO FILE.
@keyframes imgMovie {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-6px) scale(1.1);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
}